[Unit]
Description=CV midterm systemD daemon example
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2
User=ultraviolet
ExecStart=python /Downloads/Practical-Midterm_Robomaster/systemd.py
Restart=on-failure

[Install]
WantedBy=multi-user.target

